/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/*--main-color: #DB1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/
.Cast-Create--Center {
    text-align: center;
}
.Cast-Create--Background {
    background-color: var(--secondary-color--dark);
    margin: auto;
    width: 600px;
}
.Cast-Create--FormBorder:focus {
    border: 2px solid var(--main-color--light);
}
.Cast-Create--button1 {
    background-color: var(--main-color--light); /* Red, a shade lighter */
    border: none;
    color: var(--dark-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 0.25rem;
}

.Cast-Create--button2 {
    background-color: var(--main-color); /* Red*/
    border: none;
    color: var(--dark-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 0.25rem;
}
.Cast-Create--button1:hover {
    background-color: var(--main-color); /* Red */
    color: var(--dark-color);
}

.Cast-Create--button2:hover {
    background-color: var(--main-color); /* Red */
    color: var(--dark-color);
}

.Prod-Create--InputBorder:focus {
    border: 2px solid var(--main-color--light);
}

.Prod-Create-Back {
    background-color: var(--secondary-color--dark);
}

.Prod-Create-Center {
    margin: auto;
    width: 50%;
}


.Prod-Create--button1 {
    background-color: var(--main-color--light); /* Red, a shade lighter */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 0.25rem;
}

.Prod-Create--button2 {
    background-color: var(--main-color--light); /* Red, a shade lighter */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 0.25rem;
}

.Prod-Create--button1:hover {
    background-color: var(--main-color); /* Red */
    color: white;
}

.Prod-Create--button2:hover {
    background-color: var(--main-color); /* Red */
    color: white;
    text-decoration: none;
}


.Home-Index--TheatreLogo {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 50%;
}
.Home-Index--SpotlightColumn {
    float: left;
    padding: 10px;
    margin-right: 5%;
    width: 60%;
}

.Home-Index--DonoSponsColumn {
    width: 30%;
    padding: 10px;
}
.Home-Index--TextLand {
    width: 50%
}
.Home-Index--ImgLand {
    width: 50%
}
.Home-Index--SpotlightImgs {
    width: 100%;
    margin-top: 20px;
}
.Home-Index--Section-Title {
    padding: 10px;
    color: var(--light-color);
    border-bottom: 1px solid var(--main-color--light);
    font-family: Oswald;
}
.Home-Index--SupBtn {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--main-color--light);
    border: none;
    color: var(--light-color);
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.Home-Index--DonoBtnRow {
    margin-bottom: 150px;
}
.Home-Index--SponsImgType1 {
    height: 65px;
    width: 65px;
    margin: 10px;
}
.Home-Index--SponsImgType2 {
    height: 65px;
    width: 235px;
    margin: 5px;
}
.Home-Index--TextLand {
    float: left;
    padding: 10px;
    margin-right: 5%;
    width: 60%;
}

.Home-Index--ImgLand {
    width: 30%;
    padding: 10px;
}
#Home-Index--LandPic {
    margin-left: 35px;
}
#Home-Index--PhotoText {
    text-align: center;
}


